<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="bank"></i>
      主页
  </li>
  <li nz-menu-item >
    <i nz-icon nzType="play-square"></i>
      视频
  </li>
  <li nz-menu-item >
    <i nz-icon nzType="read"></i>
      阅读
  </li>
 
  <li nz-menu-item>
      <i nz-icon nzType="customer-service"></i>
      音乐
  </li>
  <li nz-menu-item style="    float: right;    margin-top: 6px;">
    <div>
        <nz-avatar [nzSize]="large" [nzText]="userName" [ngStyle]="{ 'background-color': color }" title="{{userName}}" style="vertical-align: middle;"></nz-avatar>
    </div>
  </li>
</ul>